body {
    margin: 0%;
    padding: 0%;
    background: url(bg.jpg);
    min-width:100%;
    background-size: cover;
    cursor: url(cursor.png), auto;
}
.container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    position: absolute;
}
.container1 {
    display:contents;
    padding:0;
    margin-left: 50%;
}
h1{
    font-size: 6.5em;
    font-family: "Lucida Handwriting", cursive;
    margin: 1% 0% -5% 0%;
    color: #ff1ae5;
    padding-bottom: 3%;
    text-shadow: 0 0 5px #ffffff, 0 0 15px #ffffff, 0 0 20px #ffffff, 0 0 40px #ffffff, 0 0 60px #ffffff, 0 0 10px #ffffff, 0 0 98px #ffffff;
}
h1 a {
    color: #ff1ae5;
}
h1 a:hover {
    color: #fffeff;
      text-shadow: 0 0 5px #f81bc4, 0 0 15px #ff00b3, 0 0 20px #ff65c9, 0 0 40px #f820ff, 0 0 60px #ff10df, 0 0 10px #ff00d0, 0 0 98px #ffffff;
}
#country_score{
    margin-left: 50px;
}

button{
    margin-top: 4%;
    font-size: 25px;
    background-color: white;
    padding: 10px 250px 10px 250px;
    border: none;
    outline: none;
}

@media only screen and (max-width: 480px) {
    #popcat1 {
        width: 450px;
        margin-top: -13%;
    }
    h1{
        font-size: 4.5em;
        margin-bottom: -20%;
    }
    img{
        position: inherit;
        left: 0;
        width: 20vw;
        margin-top: 5%;
    }
    html{
        overflow-y: hidden;
    }
    body{
      overflow:hidden;
    }
    .tabs{
      font-size: 35px;
      margin-top: 5%;
      margin-right: 25%;
    }
    .tab-label{
      white-space: nowrap;
    }
    tr.bordered{
      font-size: 20px;
    }
    tr.bordered>#wide_score{
      padding-left: 10em;
    }
    .tab-content{
        margin-top: 10%;
        left: 10%;
        overflow-y: scroll;
    }
    .tab-content td{
        font-size: 10px;
    }
}
